.advantages {
	.container();
}

.advantages__table {
	border-spacing: 0;
	text-align: center;
}

.advantages__data {
	border: #e3e3e3 1px solid;
	border-top:none;
	border-left: none;
	min-height: 278px;
}

td.advantages__data:nth-child(3) {
    border-right: none;
}

.advantages__main-heading {
	font-size: 27px;
	line-height: 18px;
	text-align: center;
	margin-top: 61px;
	margin-bottom: 24px;
}

.advantages__main-text {
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 70px
}

.advantages__heading {
	font-size:24px;
	line-height: 18px;
}

.advantages__text {
	font-size: 16px;
	line-height: 26px;
}

.advantages__img {
	margin-top: 28px;
}