.main-header {
	.container();
	margin-bottom: 435px;
	margin-top: 235px;
	padding-left: 511px;
}

.store-buttons__item {
	height: 54px;
	width: 54px;
	background-color: black;
	border-radius: 50px;
	display: inline-block;
	opacity: 0.6;
	&:hover {
		opacity:1;
	}
}

.store-buttons__item img {
    border-style: none;
    display: block;
    margin-left: 15px;
    margin-top: 12px;
}

a.main-header__logo {
    padding-left: 17px;
    margin-bottom: 33px;
    display: block;
}

.main-header__store-buttons.store-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 186px;
}