section.main-content__subscribe.subscribe {
    background-image: url(../img/second-backround.jpg);
    background-repeat: no-repeat;
    min-height: 254px;
}

.subscribe__container {
	.container();
	flex-direction: column;
    display: flex;
}

h5.subscribe__heading {
    font-size: 26px;
    text-align: center;
    margin-bottom: 34px;
    margin-top: 56px;

}

.subscribe__input-submit {
	background-color: #e74c3c;
	width: 155px;
	height: 75px;
	border:none;
}

input.subscribe__input-text {
    background-color: black;
    width: 375px;
    height: 75px;
    border:none;
    opacity: 0.6;
    font-size: 25px;
    font-weight:  bolder;
    padding-left:10px;
}

.subscribe__input-submit {
	color:white;
	font-size:25px;
	font-weight: bold;
	height: 76px;
}

form.subscribe__form {
    text-align: center;
}
